<div >
    <header style='margin-bottom: 20px'>
      Hello <%= @parent.name %>,
    </header>
    <article >
      Thank you for registering your ward(s)

      <ul>
        <% @parent.students.each do |student| %>
          <li><%= student.name %></li>
        <% end %>
      </ul>

      We will get back to you shortly if your ward(s) is/are selected, this is because we only have 80 slots.
    </article>

    <footer>
      <p>Warm regards, </p>
      <div style=''>
        Teencode Africa Team
      </div>
    </footer>
</div>
