<div >
    <header>
      Hello Teencode,
    </header>
    <article >
      <p><strong>Name: </strong>My name is <%= @inquiry.name.capitalize %></p>
      <p><strong>Phone Number: </strong>My name is <%= @inquiry.phone_number %></p>
      <strong>Message: </strong><em><i><%=@inquiry.message %></i></em>
    </article>

    <footer>
      <p>Thanks for listening.</p>
      <p>
        Warm regards,
      </p>
      <div class="">
        <p><%= @inquiry.name %></p>
        User, Teencode Africa
      </div>
    </footer>
</div>
