<div >
    <header>
      Hello Teencode,
    </header>
    <article >
      <p>
        My name is <%= @inquiry.name.capitalize %>
      </p>
      <%=@inquiry.message %>
    </article>

    <footer>
      <p>Thanks for listening.</p>
      <p>
        Warm regards,
      </p>
      <div class="">
        <p><%= @inquiry.name %></p>
        User, Teencode Africa
      </div>
    </footer>
</div>
