<div >
  <h2>Hello <%= @user_name%>,</h2>
  <div>
    <p>
      Thank you so much for your message. We are positive it would contribute to our mission of building
      a stronger foundation in Technology for teenagers in Africa.
    </p>

    <p>
      Despite the volume of messages we receive, a member of our team will
      personally reach out to you within two weeks if your message requires a
      response.
    </p>
    <p>
      Do remember to <a href="https://www.facebook.com/Teencode-Africa-1345535292156762">follow us on facebook</a>
      to keep up to date with what’s happening in the teencode community
      Thank you once again.
    </p>

  </div>
  <footer>
    Warm regards,
    The team,
  </footer>
</div>
